PORT={{ backend_port }}
MONGO_URI=mongodb://{{ vault_mongodb_app_username | urlencode }}:{{ vault_mongodb_app_password | urlencode }}@{{ hostvars[groups['database'][0]].ansible_host }}:{{ mongodb_port }}/{{ mongodb_database }}?authSource={{ mongodb_database }}
